* { 
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f2f2f2;
}

nav {
    width: 80%;
}

.menu-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

li a:hover {
    text-decoration: underline;
    color: goldenrod;
}

#home {
    width: 100%;
    height: 800px;
    background-image: url("./assets/img/home-image.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0;
}

h2 {
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0;
    text-decoration: underline;
}

#about {
    width: 80%;
    margin: 40px auto;
}

.about-me {
    display: flex;
}

.profile-img {
    width: 300px;
    height: 300px;
    padding-right: 20px;
}

#classes {
    width: 80%;
    margin: 40px auto;
}

.class-location-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#contact {
    width: 80%;
    height: 10dvh;
    margin: 40px auto;
}

.contact-link {
    color: green;
}

.contact-link:hover {
    text-decoration: underline;
    color: greenyellow
}
footer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    position: fixed;
    margin-top: 40px;
    gap: 60px;
    bottom: 0;
    left: 0;
}