* { 
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f2f2f2;
}

nav {
    width: 80%;
}

.menu-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

li a:hover {
    text-decoration: underline;
    color: goldenrod;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}